<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Cambio nombre formularios Creacion de Usuarios</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<form action="/formulario" method="POST">
<section class="form-login">
<h5>Creacion de usuarios</h5>
<b>Usuario</b><br>
<input class="controls" type="text" name="usuario" value="" placeholder="Usuario"><br>
<b>Contraseña</b><br>
<input class="controls" type="password" name="clave" value="" placeholder="Contraseña"><br><br>
<input class="buttons" type="submit" name="" value="Enviar">

 </section>
</form>
 </body>
</html>