<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Cambio nombres Iniciar Sesion</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<form action="/iniciarSesion" method="POST">
<section class="form-login">
<h5>Iniciar Sesion</h5>
<input class="controls" type="text" name="usuario" value="" placeholder="Email">
<input class="controls" type="password" name="clave" value="" placeholder="Contraseña">
<input class="buttons" type="submit" name="" value="Ingresar">
<p><a href="#">¿Olvidaste tu Contraseña?</a></p>

 </section>
</form>
 </body>
</html>