<HTML>
<HEAD>
<TITLE>Cambio nombres PRUEBA</TITLE>
</HEAD>
<BODY BGCOLOR="WHITE">
<A HREF="#FINAL">IR AL FINAL</A><P>
<MARQUEE><P><H1>BIENVENIDOS A LA CLASE DE ANALISIS </MARQUEE></P><H1>
<CENTER><IMG SRC="450_1000.JPG" ></CENTER>
<AUDIO SRC="ERA-AMENO.MP3" PRELOAD="NONE" CONTROLS></AUDIO>
<BR><BR><BR>
<VIDEO SRC="ERA-AMENO.MP4" AUTOPLAY MUTED LOOP></VIDEO>


<H1> PAISES </H1>
<UL>
<LI>COLOMBIA
<LI>BRAZIL
<LI>ARGENTINA
<LI>PERU
<LI>URUGUAY
</UL>


<H1> NUMEROS ORDINALES </H1>
<OL>
<LI>PRIMERO
<LI>SEGUNDO
<LI>TERCERO
<LI>CUARTO
<LI>QUINTO
</OL>

<BR>
ENVIAR CORREO A <A HREF="MAILTO:JOHJAN.BARBOSA@CAMPUSUCC.EDU.CO"> MAILTO:JOHJAN.BARBOSA@CAMPUSUCC.EDU.CO</A>.
<BR>
CONOZCA MAS EN <A HREF="HTTPS://WWW.ELTIEMPO.COM/">EL TIEMPO</A>. 
<BR>
VER VIDEO <A HREF="HTTPS://WWW.YOUTUBE.COM/">PULSE AQUÍ PARA VISITAR SITIO</A> 

<H1>TABLA</H1></CENTER>
<TABLE BORDER="1">
<TR>
 <TH>PAIS</TH></CENTER>
 <TH>COLOR</TH></CENTER>
 <TH>FRUTA</TH></CENTER>
</TR>
<TR>
 <TD>COLOMBIA</TD>
 <TD>AZUL</TD>
 <TD>PERA</TD>
</TR>
<TR>
 <TD>BRAZIL</TD>
 <TD>AMARILLO</TD>
 <TD>MANZANA</TD>
</TR>
</TABLE>


<H1><CENTER><IMG SRC="C:\USERS\JOHAN\ONEDRIVE\ESCRITORIO\HTML\ALGO.JPG" WIDTH=240 HEIGHT=310 BORDER=2 ALT="ALGO 123"></CENTER></H1>

<H1>MAPA DE IMÁGENES</H1>
<IMG SRC="C:\USERS\JOHAN\ONEDRIVE\ESCRITORIO\HTML\ALGO_2.JPG" WIDTH=240 HEIGHT=310 BORDER=2 ALT="ESTO HACE UN
ALT" USEMAP="#IMAGEN1"> <MAP NAME="IMAGEN1">
<AREA SHAPE=CIRCLE COORDS="60,56,47" HREF="HTTPS://WWW.GOOGLE.COM/" ALT="CABEZA">
<AREA SHAPE=POLY COORDS="3,182,36, 178,44,165, 60,169,66, 184,62,196, 43,201,35, 190,0,193,0,183" HREF="HTTPS://WWW.YOUTUBE.COM" ALT="TEXTO EN LA IMAGEN">
</MAP> 
<A NAME="FINAL">FINAL DEL DOCUMENTO </A>
